00_floating_point_simulation/tests
00_floating_point_simulation/bin

01_fix_point_simulation/tests
01_fix_point_simulation/bin

02_hdl/00_core/03_sim/
02_hdl/.033_sim/
02_hdl/00_core/04_sim
02_hdl/note


tool/bin/
tool/tmp/
